@import url(reset.css);

body {
    background-color: #FFF4E5;
}

.out p {
    line-height: 150%;
}

.bread {
    /* 麵包屑 */
    margin-top: 20px;
    margin-left: 65px;
}

.bread ul {
    display: inline-flex;
}

.bread ul img {
    width: 10px;
    height: 10px;
}

.bread li {
    font-size: 12px;
    padding: 10px;
}

.bread li>a {
    text-decoration: none;
    color: black;
}

.bread li>a:hover {
    color: #A79277;
}

.search {
    display: flex;
    border: #A79277 2px solid;
    border-radius: 40px;
    width: 200px;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.search img {
    width: 20px;
}

.search p {
    font-weight: 600;
}


.content {
    margin: 10px 0 0 400px;
}

.content button {
    color: white;
    background-color: #D1BB9E;
    border: none;
    border-radius: 100px;
    width: 5vw;
    height: 25px;
    margin: 5px;
    cursor: pointer;
}

/* -- 老宅總覽 -- */


.main img {
    aspect-ratio: 1 / 1;
    /* 將圖片長寬維持固定的比例 */
    width: 300px;
    object-fit: cover;
    object-position: center;
}

.house {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.house li {
    margin: 30px 50px;
}

.house h2 {
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.house p {
    color: #8F8F8F;
    font-size: 16px;
    text-align: justify;
    /* 文字左右對齊 */
    /* border: 1px black solid; */
    height: 18vh;
    /* 設定文字框高度 介紹文字五行內 */
}

.house li {
    width: 300px;
    /* border: 1px black solid; */
}

.locaBtn {
    display: flex;
    margin: 20px;
}

.locaBtn p {
    border: #D1BB9E 1px solid;
    color: #D1BB9E;
    border-radius: 40px;
    width: 95px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-left: 10px;
    font-size: 14px;
}


.main a {
    color: black;
    text-decoration: none;
    background-color: #D1BB9E;
    width: 120px;
    height: 30px;
    line-height: 30px;
    border-radius: 40px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.pagination ul {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.pagination li {
    /* border: #A79277 solid 1px; */
    display: inline-block;
    text-align: center;
    height: 100%;
    width: 2%;
}

.pagination li a {
    color: black;
    text-decoration: none;
}

.pagination li a:hover {
    color: #A79277;
    border: #D1BB9E 1px solid;

}