@import url('reset.css');


.header {
    display: flex;
    background-color: #A79277;
    align-items: center;
}

.header a img,
.logo a img {
    height: 50px;
    width: 100px;
    margin: 10px;
}

.header ul {
    display: flex;
    width: 400px;
    margin-left: 730px;
    font-family: "Dela Gothic One", sans-serif;
}

.header li {
    flex-grow: 1;
}

.header li a {
    text-decoration: none;
    color: #FFF4E5;
    /* text border */
    -webkit-text-stroke: 1px black;
    font-size: 20px;
}

.header li a:hover {
    color: #492b2d;
    -webkit-text-stroke: 0px;
}

/* Header RWD */
@media(max-width: 820px) {
    .header ul {
        margin-left: 300px;
    }
}

@media(max-width: 430px) {

    .header a img {
        width: 80px;
        height: 50px;
        margin: 0 5px;
    }

    .header ul {
        display: none;
    }

    .header ul a {
        font-size: 14px;
    }
}



/* --- footer --- */

.footer {
    display: flex;
    background-color: #A79277;
    align-items: center;
    /* 置中對齊 */
    justify-content: space-between;
    /* 分散對齊 */
}

.footer p {
    font-size: 12px;
    color: black;
    font-family: "Noto Serif TC", serif;
}

.footer .logo a img {
    height: 50px;
    width: 100px;
    margin: 10px;
}

.follow {
    margin-right: 50px;
}

.fwicon img:nth-child(1) {
    width: 30px;
}

.fwicon img:nth-child(2) {
    width: 36px;
}

.follow .fwtitle>p {
    text-align: center;
}

.follow .fwicon a {
    display: flex;
    justify-content: center;
    gap: 6%;
}

/* footer RWD */
@media(max-width: 820px) {
    .follow {
        margin-right: 20px;
    }
}

@media(max-width: 430px) {
    .footer .logo a img {
        width: 80px;
        height: 50px;
    }

    br {
        display: none;
    }

    .footer p {
        font-size: 8px;
        padding: 8px 0;
    }

    .follow {
        margin-right: 10px;
    }

    .follow p {
        display: none;
    }

    .fwicon img:nth-child(1) {
        width: 35px;
        margin-left: 15px;
    }

    .fwicon img:nth-child(2) {
        width: 40px;
    }
}