@import url('reset.css');


.header {
    display: flex;
    background-color: #A79277;
    align-items: center;
}

.header a img,
.logo a img {
    height: 50px;
    width: 100px;
    margin: 10px;
}

.header ul {
    display: flex;
    width: 300px;
    margin-left: 800px;
}

.header li {
    flex-grow: 1;
}

.header li a {
    text-decoration: none;
    color: black;
}

.header li a:hover {
    color: #FFF4E5;
}

/* Header RWD */
@media screen and (max-width: 820px) {
    .header ul {
        margin-left: 50%;
    }
}

@media screen and (max-width: 430px) {
    .header ul {
        margin-left: 0;
    }
}



/* --- footer --- */

.footer {
    display: flex;
    background-color: #A79277;
    align-items: center;
    /* 置中對齊 */
    justify-content: space-between;
    /* 分散對齊 */
}

.footer p {
    font-size: 12px;
    color: black;
}

.footer .logo a img {
    height: 50px;
    width: 100px;
    margin: 10px;
}

.follow {
    margin-right: 50px;
}

.fwicon img:nth-child(1) {
    width: 30px;
}

.fwicon img:nth-child(2) {
    width: 36px;
}

.follow .fwtitle>p {
    text-align: center;
}

.follow .fwicon a {
    display: flex;
    justify-content: center;
    gap: 6%;
}

/* footer RWD */
@media screen and (max-width: 820px) {}

@media screen and (max-width: 430px) {
    .follow .fwtitle>p {
        font-size: 8px;
    }
}